<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomelo</title>
</head>



<body>

    <div>
        <h1><a href="">Pomelo</a></h1>
    </div>

    <div>
        <form action="{% url 'pomelo:submit'%}" method = "post">
            {% csrf_token %}
            <fieldset>     
                <legend><h3>pomelo project</h3></legend>
                <strong>URL :</strong> <input type="text" name = "url_input">
                <input type = "submit" value ="입력">
            </fieldset>  
        </form>
    </div>


</body>

</html>