{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pomelo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'pomelo/css/home.css' %}">
        <div style="text-align:center"><h1><a href="{% url 'pomelo:home'%}" >Pomelo</a></h1></div>
        <div style="text-align:center">    
    </head>

    <body>
        {% for sentence in text%}
        <ol> {{sentence}}</ol>
        {% endfor %}
    </body>

</html>